/configure python python-script "recent-commit" { admin-state enable }
/configure python python-script "recent-commit" { urls [ "tftp://172.31.255.29/scripts/recent-commit.py" ] }
/configure python python-script "recent-commit" { version python3 }
/configure system management-interface cli md-cli { environment command-alias alias "recent-commit" admin-state enable }
/configure system management-interface cli md-cli { environment command-alias alias "recent-commit" python-script "recent-commit" }
/configure system management-interface cli md-cli { environment command-alias alias "recent-commit" mount-point "/" }